<mat-card-title>Education Details</mat-card-title>
<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            <form>
                <mat-form-field appearance="fill">
                  <mat-label>University/College</mat-label>
                  <input matInput placeholder="Enter Universit/College Name" value="KLUniversity">
                </mat-form-field>
            </form>
        </div>
        <div class="col-3">
            <form class="example-form col-3">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Degree</mat-label>
                  <input matInput placeholder="Enter Degree" value="B.Tech">
                </mat-form-field>
            </form>
        </div>
        <div class="col-6">
           
            <app-date></app-date>           
        </div>
    
    </div>
    <div class="row">
        <div class="col-3">
            <form>
                <mat-form-field appearance="fill">
                  <mat-label>Branch/Specialization</mat-label>
                  <input matInput placeholder="Enter Specialization Name" value="Computer Science">
                </mat-form-field>
            </form>
        </div>
        <div class="col-3">
            <form class="example-form col-3">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>CGPA/%</mat-label>
                  <input matInput placeholder="Enter CGPA" value="8.02">
                </mat-form-field>
            </form>
        </div>
    
    </div>
</div>